* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #81c784;
    margin-top: 125px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
    padding-top: 130px;

}

.header {
    background-color: #4caf50;
    box-shadow: 0 0 5px #4caf50;
    width: 100%;
    height: 15%;
    position: fixed;
    box-sizing: border-box;
    top: 0; 
   
    
    & &-logo {
        img {
            float: left;
            width: 40%;
            padding-bottom: 2px;
    }
}
    & &-menu {
       img{ 
        width: 15%;
        float: right;
        border: 2px solid orangered;
        border-radius: 10px;
        padding: 5px;
    }
}

& &-nav {
    display: none;
    width: 100%;
    background-color: #4caf50;
    align-items: center;
    ul {
        list-style: none;
        
        li {
            padding: 15px;
            box-sizing: border-box;
            border: 2px orangered;
            
            a {
                color: rgb(228, 61, 0);
                text-decoration: none;
                font-family: "Akt", Arial, Helvetica, sans-serif;
                
            }
        }
    }
}
}

.footer {
    color: rgb(228, 61, 0);
    text-align: center;
    background-color: #4caf50;
    box-shadow: 0 0 10px #4caf50;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    font-size: 15px;
    font-family: "Akt", arial;
}

.container {
    width: 90%;
    margin: 40px auto;
    background-color: #81c784;
    h2 {
    color: #ff6f00;
    text-align: center;
    
}

.banner {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #81c784;
    img {
        width: 100%;
        border-radius: 30px;
    }
    .text-feijoada {
    text-align: center;
    text-decoration: none;
    color: #ff6f00;    
}
a {
    font-family: "Akt", Arial, Helvetica, sans-serif;
}
a:hover {
    color: grey;
}
}


    img {
        width: 100%;
        max-width: 400px;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-top: 79px;
    }
}

h2 {
    color: #ff6f00;
    text-align: center;
    font-family: "Akt", Arial, Helvetica, sans-serif;
}





.mostrar {
    display: inline-block !important;
}
@media (min-width: 580px) and (max-width: 1920px)  {
    .header {
        display: flex;
        
        & &-menu {
            display: none;
        }
        & &-nav {
            width: auto;
            float: right;
            display: flex;
          
            ul {
                
                li {
                    padding: 40px;
                    display: inline-block;
                    border: 0;
                    
                    a {
                        font-size: 15px;
                    }
                    a:hover{
                        color: white;
                    }
                }
            }
        }
        & &-logo {
            img {
                width: 110px;
                
            }
        }
    }
    .container {
    width: 1000px;
    margin: 40px auto;
    h2 {
    color: #ff6f00;
    text-align: center;
}
}
 .text-feijoada {
    padding-left: 300px;
    text-decoration: none;
    color: #ff6f00;    
}
}
