//verde = #4caf50
//laranja a = rgb(228, 61, 0)
//verde claro = #81c784




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html {
    background-color: lightgreen;
}
body {
    background-color: lightgreen;
    margin-top: 125px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
    padding-top: 130px;
}





.footer {
    color: rgb(228, 61, 0);
    text-align: center;
    background-color: #4caf50;
    box-shadow: 0 0 10px #4caf50;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    font-size: 15px;
    font-family: "Akt", arial;
}

.container {
    width: 90%;
    margin: 40px auto;
    background-color: #81c784;
    h2 {
    color: #ff6f00;
    text-align: center;
    
}

.banner {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #81c784;
    img {
        width: 100%;
        border-radius: 30px;
    }
    .text-feijoada {
    text-align: center;
    text-decoration: none;
    color: #ff6f00;    
}
a {
    font-family: "Akt", Arial, Helvetica, sans-serif;
}
a:hover {
    color: grey;
}
}


    img {
        width: 100%;
        max-width: 400px;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-top: 79px;
    }
}

h2 {
    color: #ff6f00;
    text-align: center;
    font-family: "Akt", Arial, Helvetica, sans-serif;
}

.navbar {
    a {
        color: white;
    }
}
.nav-item {
    a {
        color: white;
        transition: 0.3s;
    }
    a:hover {
        color: #1b4332;
    }
}




@media (min-width: 580px) and (max-width: 1920px)  {
    .header {
        display: flex;
        
    }
    .container {
    width: 1000px;
    margin: 40px auto;
    h2 {
    color: #ff6f00;
    text-align: center;
}
}
 .text-feijoada {
    padding-left: 300px;
    text-decoration: none;
    color: #ff6f00;    
}
}
